@page
@using EmailExercise.Model;
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    if (ViewData["IsSuccess"] != null)
    {
        if ((bool)ViewData["IsSuccess"] == true)
        {
            Model.Contact = null;
            ViewData["Message"] = Settings.ThankYouMessage;
        }
        else
        {
            ViewData["Message"] = "";
        }
    }
}

<div class="row">
    <div class="col-md-12">
        <h2>Send us an email</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="bg-success">@ViewData["Message"]</p>
    </div>
</div>
<form class=" form form-horizontal" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.FullName" class="col-md-3 right"></label>
                <div class="col-md-9">
                    <input asp-for="Contact.FullName" placeholder="@Settings.SampleFullName" class="form-control" />

                    <span asp-validation-for="Contact.FullName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group required">
                <label asp-for="Contact.Email" class="col-md-3 right"></label>
                <div class="col-md-9">
                    <input asp-for="Contact.Email" placeholder="@Settings.SampleEmail" class="form-control" />
                    <span asp-validation-for="Contact.Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Mobile" class="col-md-3 right"></label>
                <div class="col-md-9">
                    <input asp-for="Contact.Mobile" placeholder="@Settings.SampleMobile" class="form-control" maxlength="11"/>
                    <span asp-validation-for="Contact.Mobile" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group required">
                <label asp-for="Contact.Message" class="col-md-3 right"></label>
                <div class="col-md-9">
                    <textarea asp-for="Contact.Message" placeholder="@Settings.SampleMessage" rows="6" class="form-control"></textarea>                    
                    <span asp-validation-for="Contact.Message" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Photo" class="col-md-3 right"></label>
                <div class="col-md-9">
                    <label class="btn btn-default">
                        Browse > <input type="file" asp-for="Contact.Photo" class="hidden">
                    </label>
                    <span asp-validation-for="Contact.Photo"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit">Send</button>
        </div>
    </div>
</form>